* {
    box-sizing: border-box;
    background-color:rgb(29, 66, 138);
    color: white;
}
header {
    text-align: center;
}
.question_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border: solid white 2px;
    border-radius: 5px;
    padding: 1rem;

}
.answer {
    max-width: 500px;
    display: grid;
    grid-template-areas: 
    "A B"
    "C D" ;
}
ul {
    list-style-type: none;
}

.A, .B, .C, .D {
    margin: 6px;
    padding: 5px;
    border: solid white .5px;
    border-radius: 4px;;
}
.A:hover,
.B:hover,
.C:hover,
.D:hover {
    border: solid greenyellow .5px;
    color:greenyellow;
}

.A {
    grid-area: A;
}

.B {
    grid-area: B;
}

.C {
    grid-area: C;
}

.D {
    grid-area: D;
}

.correct-selection {
    background-color: rgb(14, 233, 14);
    border-radius: 5px;
    /* border: solid black 1px; */

}

.wrong-selection {
    background-color: rgb(200, 16,46);
    border: solid black 1px;
}

.scoreboard {
    text-align: center;
}