* {
    box-sizing: border-box;
    background-color:azure;
}
header {
    text-align: center;
}
.question_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.answer {
    max-width: 500px;
    display: grid;
    grid-template-areas: 
    "A B"
    "C D" ;
}
ul {
    list-style-type: none;
}

.A {
    grid-area: A;
}

.B {
    grid-area: B;
}

.C {
    grid-area: C;
}

.D {
    grid-area: D;
}